.theme {
  //default

  $theme: #F6F8FF;
  $main: #6C7AFF;
  $links: #2B2B2B;
  $white: #ffffff;

  background-color: $theme;
  min-height: 100vh;
  .header {
    .row {
      background-color: white;
      margin-top: 30px;
    }
  }


  .link {
    color: $links;
  }
  .box {
    background-color: $theme;
  }
  .btn {

    color: $main;
  }
  .sidebar section {
    background-color: $white;
  }
  .sidebar {
    .sidebar-links {


      .sidebar-link {
        transition: .15s ease;
        a {
          color: $links;
          transition: .15s ease;


          svg {
            path {
              transition: .15s ease;
              fill: $links
            }
          }
          &.router-link-active {
            background-color: $main;
            color: $white;

            svg {
              path {
                fill: $white;
              }
            }
            &:hover {
              opacity: .9;
            }

          }
        }

        &:hover {


          a {
            background-color: $main;
            color: $white;
            svg {
              path {
                fill: $white;
              }
            }
          }
        }
      }
    }
  }

  //dark
  &.dark {
    $theme: #131313;
    $main: #2B2B2B;
    $links: #ffffff;
    $color: #00F0FF;
    .sidebar .sidebar-links .sidebar-link a {
      color: white;
      svg {
        path {
          fill: white;
        }
      }
    }
    background-color: $theme;
    .logo {
      a {
        svg {
          path {
            fill: #ffffff;
          }

        }
      }

    }

    .link {
      color: $links;
    }
    .box {
      background-color: $theme;
    }
    .btn {

      color: $main;
    }
    .sidebar section {
      background-color: $main;
    }

  }


}