@import url('https://fonts.cdnfonts.com/css/gilroy-bold');

body {
  transition: color, background-color .15s ease;
  background-color: #f4f6f9;
  padding-top: 30px;
}
h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;

  line-height: normal;

}
p {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
body {
  margin: 0;
  padding: 0;

  font-family: 'Montserrat', sans-serif;
}
.row {
  display: flex;
  flex-wrap: wrap;
  flex-basis: border-box;
  max-width: 1440px;
  width: 94%;

  margin: 0 auto;
}
.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.main {
  .row {
    gap: 30px;
    align-items: start;
    margin-top: 30px;
    justify-content: space-between;


    .sidebar section {
      border-radius: 15px;
      padding: 10px;
      border: 1px solid #eaeaea;

    }
    .sidebar {
      flex: 1 4;
      flex-wrap: wrap;


      section {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 30px;
        padding: 20px;
        background-color: #ffffff;

      }
    }
    .content {
      flex: 3 4;

      p {
        color: #000;

        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

    }
  }
}
.projects-wrapper {
  margin-top: 0px;

  .advanced {
    display: flex;

  }

}
footer {


}
.header {
  margin-top: 30px;

  .box {
    background-color: white;
  }

  .d-flex {
    display: flex;
    flex-basis: border-box;
    width: 96%;
    margin-left: 2%;
    padding-top: 10px;
    padding-bottom: 10px;

  }


  .nav {
    width: 60%;
    flex-direction: row;
    align-items: center;

    .links {
      width: 100%;
      display: flex;
      flex-basis: border-box;
      flex-wrap: wrap;
      justify-content: end;
      margin-left: auto;
      align-items: center;

      a {
        &.router-link-active {
          border-bottom: 1px solid;
        }
      }
    }
  }
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.box {
  border-radius: 15px;
}

//links and buttons
a {
  text-decoration: none;
}
.link {
  font-family: 'Montserrat', 'Arial', Serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 1.5rem;
  text-decoration: none;
}

.btn {
  border: 1px solid transparent;
  border-radius: 5px;
  flex-shrink: 0;
  box-sizing: border-box;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
  transition: .15s ease;
  font-size: 12px;
  cursor: pointer;

  &:hover {
    transform: translateY(-2px);
  }
  &.btn-outlined {
    border-radius: 5px;
    border: 1px solid var(--new-dark, rgb(0, 115, 236));
    box-shadow: 0 0 3px  rgba(13, 110, 253, 0.25);
    background-color: transparent;
  }
  &.btn-submit {
    border-radius: 5px;
    background: var(--new-dark, rgb(0, 115, 236));
    padding: 10px 15px;
    color: #FFF;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: auto;
  }
  &.btn-filled {
    color: #ffffff;
    background-color: rgb(0, 115, 236);
    margin-top: 30px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 1px solid #eaeaea;
  }
  &.btn-secondary {
    color: #000;
    background-color: #f5f5f5;
    margin-top: 30px;
    cursor: pointer;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    width: 100%;

    border: 1px solid #eaeaea;
    svg {
      width: 20px;
      height: 20px;
      path {
        width: 20px;
        height: 20px;
        fill: black;
      }
    }
  }
  &.btn-empty {
    color: #2B2B2B;
    background-color: transparent;
    margin-top: 30px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &.btn-big-pages {
    justify-content: start;
    margin-top: 20px;
    border-radius: 15px;
    padding: 15px 20px;
    font-size: 16px;
    width: fit-content;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

.theme-switcher {
  width: 30%;
  justify-content: center;
  display: flex;
}
.logo {
  width: 110px;
  height: 65px;
}
.sidebar-links {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  .separator {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    height: 1px;
    background-color: #494A4E;
  }

  .sidebar-link {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0;
    border-radius: 5px;
    transition: .3s ease;


    &:hover {
      background-color: #edf1fc;
    }

    a {
      min-height: 30px;
      padding: 10px 20px;
      border-radius: 5px;
      display: flex;
      gap: 10px;
      width: 100%;
      align-items: center;

      &.router-link-active {
        background-color: #f7f9ff;
      }

      svg {
        path {
          fill : #000000;
        }

      }
    }

  }
}
.tabs-links {

  color: #000;

  width: fit-content;

  button {
    margin-right: 10px;
    &.recommended {

    }
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    background-color: transparent;
    border: none;
    border-bottom: 5px solid transparent;

    transition: .3s ease;
    cursor: pointer;

    &:hover {
      opacity: .8;
    }
    &.active {
      border-bottom-color: rgb(0, 115, 236);
    }

  }
}

.footer {

}

.list-move,  /* apply transition to moving elements */
.list-enter-active,
.list-leave-active {
  transition: all 0.6s ease;

}

.list-enter-from,
.list-leave-to {
  opacity: 0;

  transform: translateY(10px);
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
//.list-leave-active {
//  position: absolute;
//}


form.add-project {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
  .left, .right {
    width: 49%;

  }
  textarea {
    width: 100%;
    resize: none;
  }
  .bottom {
    width: 100%;
  }
  .bottom {
    margin-top: 30px;
    .top-head {
      display: flex;
      justify-content: start;
      gap: 30px;
      .add {
        background-color: rgb(0, 115, 236);
        color: #fff;
        transition: .3s ease;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 5px;
        &:hover {
        cursor: pointer;
        opacity: .8;
       }
      }


    }

    .added-project-links {
      margin-top: 10px;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: start;
    }
    label {
      display: flex;
      input {
        width: 100%;
      }
    }

  }

  input[type=text] {
    font-size: 16px;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #eaeaea;
    width: 70%;
    font-family: "Montserrat", "Arial", Serif;


  }
  input[type=file] {
    margin-top: 0px;
    height: auto;
    padding: 10px 20px;
    border: 1px solid #eaeaea;
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font-size: 14px;
    color: #000;
    text-align: center;
    background-color: #fff;
    line-height: 22px;
    border-radius: 5px;
    transition: background-color 0.2s;
    width: 70%;

  }
  textarea {
    background-color: #fff;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px 20px;
    border: 1px solid #eaeaea;
    font-family: "Montserrat", "Arial", Serif;
  }


  label {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: flex-start;
    span {
      width: 100%;
    }
  }
  .project-link {
    width: 30%;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;

    input {
      width: 100%;
    }
    &.always {

      align-self: center;
      input {
        width: 100%!important;
        border-radius: 5px;
      }
    }
    .delete, .important {
      font-size: 12px;
      padding-left: 10px;
    }
    .delete {
      &:hover {
        outline: none;
        color: #d05555;
      }
    }
    input {
      font-size: 16px;
      margin-top: 0;
      padding: 10px 20px;
      border: 1px solid #eaeaea;
      border-radius: 5px;
      width: 100%;
      font-family: "Montserrat", "Arial", Serif;
      outline: none;
      &:hover, &:focus {
        outline: none;
      }
    }
  }
  .helper {
    margin-top: 5px;
    font-size: 10px;
  }
}

.form-wrapper {
  margin-top: 20px;

  .advanced {
    display: flex;
    gap: 30px;
    margin-top: 10px;

    input {
      width: 100%;
      box-sizing: border-box;
    }
  }

  .input-wrapper {
    margin-bottom: 10px;

  }
  .fake-input {
    position: relative;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--new-dark, rgb(0, 115, 236));
    background: var(--neutral, #FFF);

    .name {
      width: 100px;
      display: inline-block;
      color: #000;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      opacity: .5;
    }

    input[type='file'] {
      color: rgb(0, 115, 236);

      font-family: 'Montserrat', sans-serif;
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      &::file-selector-button {
        border-radius: 5px;
        border: 1px solid var(--new-dark, rgb(0, 115, 236));
        background: #FFF;
        padding: 5px 10px;
        color: rgb(0, 115, 236);
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-left: 25px;

      }

      &::before {
        content: url("./../../assets/images/upload.svg");
        width: 15px;
        height: 15px;
        position: relative;
        right: -20px;
        z-index: 2;
        top: 2px;
      }

    }
  }


  input[type='text'] {
    border-radius: 5px;
    border: 1px solid var(--new-dark, rgb(0, 115, 236));
    background: var(--neutral, #FFF);
    color: #000;
    padding: 10px 15px;
    width: 100%;
    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    &.bad {
      background-color: #fff3f3;
      border: 1px solid #984a5a;
      &.ok {
        background-color: #ffffff;
      }
    }

    &::placeholder {
      opacity: .3;
    }
  }

  input[type=number] {
    border-radius: 5px;
    border: 1px solid var(--new-dark, rgb(0, 115, 236));
    background: var(--neutral, #FFF);
    color: #000;
    padding: 10px 15px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;


  }

  textarea {
    border-radius: 5px;
    border: 1px solid var(--new-dark, rgb(0, 115, 236));
    background: var(--neutral, #FFF);
    padding: 10px 15px;

    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    height: 280px;
    font-weight: 400;
    line-height: normal;
    resize: none;

    box-sizing: border-box;

    width: 100%;

    &::placeholder {
      opacity: .3;
    }
  }
  select {
    border-radius: 5px;
    border: 1px solid var(--new-dark, rgb(0, 115, 236));
    background: var(--neutral, #FFF);
    color: #000;
    padding: 10px 15px;
    width: 100%;
    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    &::placeholder {
      opacity: .3;
    }
  }
}
.links-wrapper {
  justify-content: start;
  .links {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: start;

    .link {
      width: 30%;
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      box-sizing: border-box;
      transition: .3s ease;

      .name {
        justify-content: space-between;
        display: flex;

        .delete {
          cursor: pointer;
          align-items: center;

          &:hover {
            color: #C8716B;
            svg {
              path, defs {
                fill: #C8716B;
              }
            }
          }
        }
      }

    }

    span.name {
      color: #000;
      font-family: 'Montserrat', sans-serif;
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      display: block;
      width: 100%;
      margin-top: 10px;
      margin-bottom: -5px;
    }

    .leftW, .rightW {
      width: 100%;

    }
    .bottom {
      width: 100%;

      .heading {
        margin-top: 20px;
        color: #000;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        opacity: .5;
      }
      .description {
        color: #000;
        font-family: 'Montserrat', sans-serif;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        opacity: .5;
      }
    }

  }
  .help {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    margin-top: 7px;

    opacity: 0.5;
    display: block;
  }
}
.back {
  cursor: pointer;
  background-color: transparent;
  border: none;
  display: inline-block;

  svg {
    width: 18px;
    height: 18px;
    transition: .3s ease;
    position: relative;
    top: 3px;

    &:hover {
      transform: translateX(-2px);
    }
  }
}

@media screen and (max-width: 900px)  {
  
}