
.row {
  display: flex;
  flex-wrap: wrap;
  flex-basis: border-box;
  max-width: 1440px;
  width: 94%;

  margin: 0 auto;
}
.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.main {
  .row {
    gap: 30px;
    align-items: stretch;
    margin-top: 30px;
    justify-content: space-between;
    position: relative;


    .sidebar section {
      border-radius: 15px;
      padding: 10px;
      border: 1px solid #eaeaea;

    }
    .sidebar {
      width: 20%;
      flex-wrap: wrap;
      height: auto;



      section {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 30px;
        padding: 20px;
        background-color: #ffffff;

      }
    }
    .content {

      width: 77%;

      p {
        color: #000;

        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

    }
  }
}
.projects-wrapper {
  margin-top: 0px;



}
footer {


}
.header {

  .d-flex {
    display: flex;
    flex-basis: border-box;
    width: 96%;
    align-items: center;
    margin-left: 2%;
    padding-top: 10px;
    padding-bottom: 10px;

  }


  .nav {
    width: 60%;
    flex-direction: row;
    align-items: center;

    .links {
      width: 100%;
      display: flex;
      flex-basis: border-box;
      flex-wrap: wrap;
      justify-content: end;
      margin-left: auto;
      align-items: center;

      a {
        &.router-link-active {
          border-bottom: 1px solid;
        }
      }
    }
  }
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.box {
  border-radius: 15px;
}

//links and buttons
a {
  text-decoration: none;
}
.link {
  font-family: 'Montserrat', 'Arial', Serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 1.5rem;
  text-decoration: none;
}

.btn {
  white-space: nowrap;
  border: 1px solid transparent;
  border-radius: 5px;
  flex-shrink: 0;
  box-sizing: border-box;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  font-family: 'Montserrat', 'Arial', Serif;
  gap: 10px;
  align-items: center;
  transition: .15s ease;
  font-size: 14px;
  cursor: pointer;

  &:hover {
    transform: translateY(-2px);
  }
  &.btn-outlined {
    border-radius: 5px;
    border: 1px solid var(--new-dark, #0a58ca);
    box-shadow: 0 0 3px  rgba(13, 110, 253, 0.25);
    background-color: transparent;
    color: #0a58ca;
    svg {
      path {
        fill: #0a58ca;
      }
    }
  }
  &.btn-submit {
    border-radius: 5px;
    background: var(--new-dark, #0a58ca);
    padding: 10px 15px;
    color: #FFF;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: auto;
  }
  &.btn-filled {
    color: #ffffff;
    background-color: #0a58ca;
    margin-top: 30px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 1px solid #eaeaea;
  }
  &.btn-secondary {
    color: #000;
    background-color: #f5f5f5;

    cursor: pointer;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    width: 100%;


    border: 1px solid #eaeaea;
    svg {
      width: 20px;
      height: 20px;
      path {
        width: 20px;
        height: 20px;
        fill: black;
      }
    }
  }
  &.btn-empty {
    color: #2B2B2B;
    background-color: transparent;
    margin-top: 30px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &.btn-big-pages {
    justify-content: start;
    margin-top: 20px;
    border-radius: 15px;
    padding: 15px 20px;
    font-size: 16px;
    width: fit-content;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    svg {
      path {
        fill: #0a58ca;
      }
    }
  }
}

.theme-switcher {
  width: 30%;
  justify-content: center;
  display: flex;
}
.logo {
  width: 110px;
  height: auto;
  margin-top: 5px;
}
.sidebar-links {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  .separator {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    height: 1px;
    background-color: #494A4E;
  }

  .sidebar-link {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0;
    border-radius: 5px;
    transition: .3s ease;


    &:hover {
      background-color: #edf1fc;
    }

    a {
      min-height: 30px;
      padding: 10px 20px;
      border-radius: 5px;
      display: flex;
      gap: 10px;
      width: 100%;
      align-items: center;

      &.router-link-active {
        background-color: #f7f9ff;
      }

      svg {
        path {
          fill : #000000;
        }

      }
    }

  }
}
.tabs-links {
  color: #000;
  white-space: nowrap;
  justify-content: start;

   .left {
     width: 100%;
     display: flex;
     justify-content: left;

   }

  button {
    margin-right: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    transition: .3s ease;
    cursor: pointer;
    padding: 10px;
    border-radius: 30px;
    border: none;
    background-color: #e8e8e8;
    width: auto;
    color: black;

    &:hover {
      opacity: .8;
    }
    &.active {
      color: #ffffff;
      background-color: black;
    }

  }
}

.footer {

}

.list-move,  /* apply transition to moving elements */
.list-enter-active,
.list-leave-active {
  transition: all 0.4s ease;
  height: auto;

}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  height: 0;
  overflow: hidden;

  transform: translateX(5px);
}

button.back {
  color: #000000;
  border-radius: 10px;
  padding: 3px 5px;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 20px;
  font-family: "Montserrat", "Arial", Serif;

  svg {
    position: relative;
    top: 1px;
    width: 12px;
    height: 12px;
  }
}
.form-wrapper {
  margin-top: 0px;
  h3 {

    margin-bottom: 10px;
  }


  .advanced {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: start;

    .help {
      width: 100%;
      color: #000;
      font-family: 'Montserrat', sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 1;
      margin-bottom: 10px;
      opacity: 1;
      display: block;

      .heading {
        font-weight: 600;
        margin-bottom: -10px;
        display: block;
        font-size: 20px;
      }

      &.description {
        margin-bottom: 20px;
      }
    }

    .input-wrapper {
      width: 30%;
    }

    input {
      width: 100%;
      box-sizing: border-box;
    }
  }

  .input-wrapper {
    border: 1px solid transparent;
    margin-bottom: 20px;
    border-radius: 5px;
    position: relative;

    .help {
      width: 100%;
      color: #989898!important;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 1;
      margin-bottom: 10px;
      display: block;

      .heading {
        margin-bottom: -10px;
        color: black;
        opacity: 1;
        font-weight: 600;
        display: block;
        font-size: 18px;
      }

      &.description {
        margin-bottom: 20px;
      }
    }
    .input {
      position: relative;
    }


    &.double {
      display: flex;
      gap: 30px;
      position: relative;
      .left, .right {
        position: relative;
        width: 50%;
      }

    }

    &.triple {
      display: flex;
      gap: 15px;
      position: relative;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: end;
      .left, .middle, .right {

        position: relative;
        width: 31%;
      }

    }



    .field-name {
      position: absolute;
      font-size: 14px;
      background-color: #fff;
      color: #545454;
      left: 10px;
      top: 5px;
      padding-left: 5px;
      padding-right: 5px;
      border-radius: 5px;
      z-index: 20;

    }
    &.categories {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;

      .help {
        width: 100%;
      }
    }
    .loader {

    }
    .category {
      margin-top: 10px;
      font-size: 18px;

      border: 1px solid transparent;
      margin-right: 20px;
    }
    .loaded {
      color: #10c44c;
      svg {
        position: relative;

        top: 4px;
        width: 20px;
        height: 20px;
        path {
          fill: #10c44c;
        }
      }
    }

  }
  .fake-input {
    position: relative;
    padding: 0;
    border-radius: 5px;
    border: 1px solid transparent;
    background: var(--neutral, #FFF);

    .name {
      min-width: 100px;
      display: inline-block;
      color: #000;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      opacity: .5;
    }



    input[type='file'] {
      color: #0a58ca;
      box-sizing: border-box;
      font-family: 'Montserrat', sans-serif;
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding: 10px;
      width: 100%;

      &::file-selector-button {
        border-radius: 5px;
        border: 1px solid var(--new-dark, #0a58ca);
        background: #FFF;
        width: auto;
        box-sizing: border-box;
        padding: 10px;
        color: #0a58ca;
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

      }

      //&::before {
      //  content: url("./../../assets/images/upload.svg");
      //  width: 15px;
      //  height: 15px;
      //  color: #0a58ca;
      //  position: relative;
      //  right: -20px;
      //  z-index: 2;
      //  top: 2px;
      //}

      &:disabled {
        opacity: .5;
        &::file-selector-button {
          border-radius: 5px;
          border: 1px solid var(--new-dark, rgb(93, 93, 93));
          background: #FFF;
          padding: 5px 10px;
          color: rgb(77, 77, 77);
          font-family: 'Montserrat', sans-serif;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          padding-left: 25px;

        }

      }

    }
  }

  input[type='checkbox'] {
    width: 16px;
    height: 16px;

  }
  input[type='text'] {
    border-radius: 5px;
    border: 1px solid transparent;
    background: var(--neutral, #FFF);
    color: #000;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    &:focus {
      outline: none;
    }

    &.bad {
      background-color: #fff3f3;
      border: 1px solid #984a5a;
      &.ok {
        background-color: #ffffff;
      }
    }

    &::placeholder {
      opacity: .3;
    }
  }



  input[type='number'] {
    border-radius: 5px;
    border: 1px solid transparent;
    background: var(--neutral, #FFF);
    color: #000;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    &:focus {
      outline: none;
    }


    &::placeholder {
      opacity: .3;
    }
  }

  textarea {
    border-radius: 5px;
    border: 1px solid transparent;
    background: var(--neutral, #FFF);
    padding: 10px;

    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    height: 160px;
    font-weight: 400;
    line-height: normal;
    resize: none;

    box-sizing: border-box;

    width: 100%;

    &:focus {
      outline: none;
    }

    &::placeholder {
      opacity: .3;
    }
  }
  select {
    border-radius: 5px;
    border: 1px solid var(--new-dark, transparent);
    background: var(--neutral, #FFF);
    color: #000;
    padding: 10px 15px;
    width: 100%;
    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    &::placeholder {
      opacity: .3;
    }
  }
}
.links-wrapper {
  justify-content: start;
  .links {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: start;

    .link {
      width: 30%;
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      box-sizing: border-box;
      transition: .3s ease;

      .name {
        justify-content: space-between;
        display: flex;

        .delete {
          cursor: pointer;
          align-items: center;

          &:hover {
            color: #C8716B;
            svg {
              path, defs {
                fill: #C8716B;
              }
            }
          }
        }
      }

    }

    span.name {
      color: #000;
      font-family: 'Montserrat', sans-serif;
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      display: block;
      width: 100%;
      margin-top: 10px;
      margin-bottom: -5px;
    }

    .leftW, .rightW {
      width: 100%;

    }
    .bottom {
      width: 100%;

      .heading {
        margin-top: 20px;
        color: #000;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        opacity: .5;
      }
      .description {
        color: #000;
        font-family: 'Montserrat', sans-serif;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        opacity: .5;
      }
    }

  }

}
.back {
  cursor: pointer;
  background-color: transparent;
  border: none;
  display: inline-block;

  svg {
    width: 18px;
    height: 18px;
    transition: .3s ease;
    position: relative;
    top: 3px;

    &:hover {
      transform: translateX(-2px);
    }
  }
}
@media screen and (max-width: 1080px) {
  .main {
    .row {
      .content {
        width: 72%;
      }
      .sidebar {
        padding: 10px;
        section {

        }
      }
    }
  }

  .sidebar-links {
    .sidebar-link {
      a {
        padding: 5px;
      }
    }
  }


}
.mobileHeader {
  display: none;
}
@media screen and (max-width: 768px)  {
  .sidebar {
    display: none;
  }
  .header {
    display: none;
  }
  .sidebar-links {
    box-sizing: border-box;
    background-color: #fff;
    width: 100%;
  }
  .highlight-project {
    background-color: #fff;
    width: 100%;
    margin-top: 10px;
  }
  .rightMenuWrapper {
    position: absolute;
    border-radius: 20px;
    z-index: 20;
    padding: 20px;
    width: 86%;
    left: 2%;
    margin-top: 5px;
    background-color: #fff;
    .links {
      display: flex;
      flex-wrap: wrap;

      justify-content: center;
      width: 100%;
      text-align: center;
      .link {
        order: 2;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 0;
      }
      .loggined {
        margin-bottom: 20px;
        order: 1;
        text-align: right;
        margin-left: 0;
      }
    }
  }
  .leftMenuWrapper {
    margin-top: -5px;
    width: 91%;
    position: absolute;
    z-index: 20;

    border-radius: 20px;
    padding: 10px;
  }
  .mobileHeader {
    display: block;
    width: 96%;
    margin-left: 2%;
    .row {
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      margin: 0;
      background-color: #fff;
    }
    .logo {
      justify-self: center;
    }
    .dotMenu {
      .dot-row {
        display: flex;
        margin-bottom: 8px;
        margin-top: 8px;
        position: relative;
        transition: .3s ease;
        position: relative;

        span {
          width: 3px;
          height: 3px;
          background-color: black;
          display: block;
          margin-right: 5px;
          margin-left: 5px;
          transition: .3s ease;
        }

      }

      &.active {
        .dot-row:nth-child(1), .dot-row:nth-child(3) {
          opacity: 1;
          margin-left: 3px;

          span {
            width: 14px;
            margin-right: -2px;
            margin-left: -2px;
          }
        }
        .dot-row:nth-child(1){
          top: 12px;
          left: 2px;
          rotate: 50grad;
        }
        .dot-row:nth-child(3) {
          top: -10px;
          left: -2px;
          rotate: 150grad;
        }
        .dot-row:nth-child(2) {
          opacity: 0;
        }
      }
    }
    .rightMenu {
      span {
        width: 30px;
        height: 3px;
        background: black;
        display: block;
        margin-top: 8px;
        margin-bottom: 8px;
        border-radius: 30px;
        transition: .3s ease;
        position: relative;

      }

      &.active {
        span:nth-child(1) {
          rotate: (50grad);
          top: 11px;
        }
        span:nth-child(2) {
          opacity: 0;
        }
        span:nth-child(3) {
          top: -10px;
          rotate: (150grad);
        }
      }
    }
  }
  .main {
    .row {

      .sidebar {
        transition: .3s ease;
        width: 100%;
        position: relative;
      }
      .content {
        width: 100%;
      }
    }
  }
  .form-wrapper {
    .input-wrapper {
      &.double {
        flex-wrap: wrap;
        .left, .right {
          width: 100%;
        }
      }

      &.triple {
        flex-wrap: wrap;
        align-items: end;
        justify-content: space-between;
        .left, .middle {
          width: 47%;
        }
        .right {
          width: 100%;
        }
      }
    }
  }
  .tabs-links {
    width: 100%;
    display: flex;

    button {

      word-break: keep-all;
      font-size: 14px;
      line-height: 0.8;


    }

    .left {
      overflow-x: scroll;
      overflow-y: hidden;
      display: block;
      width: fit-content;

      &::-webkit-scrollbar {
        width: 0;
      }
    }

    .recommended, .fresh {

    }

  }

  .form-wrapper {
    input[type=checkbox] {
      top: 3px;
      position: relative;
    }
    input[type=text]{
      font-size: 12px;
    }
    textarea {
      font-size: 12px;
      height: 200px;
    }

    .input-wrapper {
      label {
        font-size: 12px;
      }
      .help {
        font-size: 12px;
        .heading {
          font-size: 14px;
        }
      }
      .category {
        font-size: 12px;
        margin-top: 0px;
        margin-bottom: 0px;
      }
    }
  }
}
@media screen and (max-width: 500px ) {

}