body {
  transition: color, background-color 0.15s ease;
  background-color: #f4f6f9;
  padding-top: 30px;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-basis: border-box;
  max-width: 1440px;
  width: 94%;
  margin: 0 auto;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.main .row {
  gap: 30px;
  align-items: stretch;
  margin-top: 30px;
  justify-content: space-between;
  position: relative;
}
.main .row .sidebar section {
  border-radius: 15px;
  padding: 10px;
  border: 1px solid #eaeaea;
}
.main .row .sidebar {
  width: 20%;
  flex-wrap: wrap;
  height: auto;
}
.main .row .sidebar section {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 30px;
  padding: 20px;
  background-color: #ffffff;
}
.main .row .content {
  width: 77%;
}
.main .row .content p {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.projects-wrapper {
  margin-top: 0px;
}

.header {
  margin-top: 30px;
}
.header .box {
  background-color: white;
}
.header .d-flex {
  display: flex;
  flex-basis: border-box;
  width: 96%;
  margin-left: 2%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.header .nav {
  width: 60%;
  flex-direction: row;
  align-items: center;
}
.header .nav .links {
  width: 100%;
  display: flex;
  flex-basis: border-box;
  flex-wrap: wrap;
  justify-content: end;
  margin-left: auto;
  align-items: center;
}
.header .nav .links a.router-link-active {
  border-bottom: 1px solid;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.box {
  border-radius: 15px;
}

a {
  text-decoration: none;
}

.link {
  font-family: "Montserrat", "Arial", Serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 1.5rem;
  text-decoration: none;
}

.btn {
  white-space: nowrap;
  border: 1px solid transparent;
  border-radius: 5px;
  flex-shrink: 0;
  box-sizing: border-box;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  font-family: "Montserrat", "Arial", Serif;
  gap: 10px;
  align-items: center;
  transition: 0.15s ease;
  font-size: 14px;
  cursor: pointer;
}
.btn:hover {
  transform: translateY(-2px);
}
.btn.btn-outlined {
  border-radius: 5px;
  border: 1px solid var(--new-dark, #0a58ca);
  box-shadow: 0 0 3px rgba(13, 110, 253, 0.25);
  background-color: transparent;
  color: #0a58ca;
}
.btn.btn-outlined svg path {
  fill: #0a58ca;
}
.btn.btn-submit {
  border-radius: 5px;
  background: var(--new-dark, #0a58ca);
  padding: 10px 15px;
  color: #FFF;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: auto;
}
.btn.btn-filled {
  color: #ffffff;
  background-color: #0a58ca;
  margin-top: 30px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 1px solid #eaeaea;
}
.btn.btn-secondary {
  color: #000;
  background-color: #f5f5f5;
  cursor: pointer;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid #eaeaea;
}
.btn.btn-secondary svg {
  width: 20px;
  height: 20px;
}
.btn.btn-secondary svg path {
  width: 20px;
  height: 20px;
  fill: black;
}
.btn.btn-empty {
  color: #2B2B2B;
  background-color: transparent;
  margin-top: 30px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.btn.btn-big-pages {
  justify-content: start;
  margin-top: 20px;
  border-radius: 15px;
  padding: 15px 20px;
  font-size: 16px;
  width: fit-content;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.theme-switcher {
  width: 30%;
  justify-content: center;
  display: flex;
}

.logo {
  width: 110px;
  height: 65px;
}

.sidebar-links {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.sidebar-links .separator {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  height: 1px;
  background-color: #494A4E;
}
.sidebar-links .sidebar-link {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0;
  border-radius: 5px;
  transition: 0.3s ease;
}
.sidebar-links .sidebar-link:hover {
  background-color: #edf1fc;
}
.sidebar-links .sidebar-link a {
  min-height: 30px;
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  width: 100%;
  align-items: center;
}
.sidebar-links .sidebar-link a.router-link-active {
  background-color: #f7f9ff;
}
.sidebar-links .sidebar-link a svg path {
  fill: #000000;
}

.tabs-links {
  color: #000;
  white-space: nowrap;
  justify-content: start;
}
.tabs-links .left {
  width: 100%;
  display: flex;
  justify-content: left;
}
.tabs-links button {
  margin-right: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  transition: 0.3s ease;
  cursor: pointer;
  padding: 10px;
  border-radius: 30px;
  border: none;
  background-color: #e8e8e8;
  width: auto;
}
.tabs-links button:hover {
  opacity: 0.8;
}
.tabs-links button.active {
  color: #ffffff;
  background-color: black;
}

.list-move,
.list-enter-active,
.list-leave-active {
  transition: all 0.4s ease;
  height: auto;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transform: translateX(5px);
}

button.back {
  color: #000000;
  border-radius: 10px;
  padding: 3px 5px;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 20px;
  font-family: "Montserrat", "Arial", Serif;
}
button.back svg {
  position: relative;
  top: 1px;
  width: 12px;
  height: 12px;
}

.form-wrapper {
  margin-top: 20px;
}
.form-wrapper h3 {
  margin-bottom: 10px;
}
.form-wrapper .advanced {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.form-wrapper .advanced .help {
  width: 100%;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 10px;
  opacity: 1;
  display: block;
}
.form-wrapper .advanced .help .heading {
  font-weight: 600;
  margin-bottom: -10px;
  display: block;
  font-size: 20px;
}
.form-wrapper .advanced .help.description {
  margin-bottom: 20px;
}
.form-wrapper .advanced .input-wrapper {
  width: 30%;
}
.form-wrapper .advanced input {
  width: 100%;
  box-sizing: border-box;
}
.form-wrapper .input-wrapper {
  border: 1px solid transparent;
  margin-bottom: 20px;
  border-radius: 5px;
  position: relative;
}
.form-wrapper .input-wrapper .help {
  color: #989898 !important;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 10px;
  display: block;
}
.form-wrapper .input-wrapper .help .heading {
  margin-bottom: 5px;
  color: black;
  opacity: 1;
  font-weight: 600;
  display: block;
  font-size: 18px;
}
.form-wrapper .input-wrapper .help.description {
  margin-bottom: 20px;
}
.form-wrapper .input-wrapper .input {
  position: relative;
}
.form-wrapper .input-wrapper.double {
  display: flex;
  gap: 30px;
  position: relative;
}
.form-wrapper .input-wrapper.double .left, .form-wrapper .input-wrapper.double .right {
  position: relative;
  width: 50%;
}
.form-wrapper .input-wrapper.triple {
  display: flex;
  gap: 15px;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: end;
}
.form-wrapper .input-wrapper.triple .left, .form-wrapper .input-wrapper.triple .middle, .form-wrapper .input-wrapper.triple .right {
  position: relative;
  width: 31%;
}
.form-wrapper .input-wrapper .field-name {
  position: absolute;
  font-size: 14px;
  background-color: #fff;
  color: #545454;
  left: 10px;
  top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  z-index: 20;
}
.form-wrapper .input-wrapper.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.form-wrapper .input-wrapper.categories .help {
  width: 100%;
}
.form-wrapper .input-wrapper .category {
  margin-top: 10px;
  font-size: 18px;
  border: 1px solid transparent;
  margin-right: 20px;
}
.form-wrapper .input-wrapper .loaded {
  color: #10c44c;
}
.form-wrapper .input-wrapper .loaded svg {
  position: relative;
  top: 4px;
  width: 20px;
  height: 20px;
}
.form-wrapper .input-wrapper .loaded svg path {
  fill: #10c44c;
}
.form-wrapper .fake-input {
  position: relative;
  padding: 0;
  border-radius: 5px;
  border: 1px solid transparent;
  background: var(--neutral, #FFF);
}
.form-wrapper .fake-input .name {
  min-width: 100px;
  display: inline-block;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
}
.form-wrapper .fake-input input[type=file] {
  color: #0a58ca;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 10px;
  width: 100%;
}
.form-wrapper .fake-input input[type=file]::file-selector-button {
  border-radius: 5px;
  border: 1px solid var(--new-dark, #0a58ca);
  background: #FFF;
  width: auto;
  box-sizing: border-box;
  padding: 10px;
  color: #0a58ca;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.form-wrapper .fake-input input[type=file]:disabled {
  opacity: 0.5;
}
.form-wrapper .fake-input input[type=file]:disabled::file-selector-button {
  border-radius: 5px;
  border: 1px solid var(--new-dark, rgb(93, 93, 93));
  background: #FFF;
  padding: 5px 10px;
  color: rgb(77, 77, 77);
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 25px;
}
.form-wrapper input[type=checkbox] {
  width: 16px;
  height: 16px;
}
.form-wrapper input[type=text] {
  border-radius: 5px;
  border: 1px solid transparent;
  background: var(--neutral, #FFF);
  color: #000;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.form-wrapper input[type=text]:focus {
  outline: none;
}
.form-wrapper input[type=text].bad {
  background-color: #fff3f3;
  border: 1px solid #984a5a;
}
.form-wrapper input[type=text].bad.ok {
  background-color: #ffffff;
}
.form-wrapper input[type=text]::placeholder {
  opacity: 0.3;
}
.form-wrapper input[type=number] {
  border-radius: 5px;
  border: 1px solid transparent;
  background: var(--neutral, #FFF);
  color: #000;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.form-wrapper input[type=number]:focus {
  outline: none;
}
.form-wrapper input[type=number]::placeholder {
  opacity: 0.3;
}
.form-wrapper textarea {
  border-radius: 5px;
  border: 1px solid transparent;
  background: var(--neutral, #FFF);
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  height: 280px;
  font-weight: 400;
  line-height: normal;
  resize: none;
  box-sizing: border-box;
  width: 100%;
}
.form-wrapper textarea:focus {
  outline: none;
}
.form-wrapper textarea::placeholder {
  opacity: 0.3;
}
.form-wrapper select {
  border-radius: 5px;
  border: 1px solid var(--new-dark, transparent);
  background: var(--neutral, #FFF);
  color: #000;
  padding: 10px 15px;
  width: 100%;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.form-wrapper select::placeholder {
  opacity: 0.3;
}

.links-wrapper {
  justify-content: start;
}
.links-wrapper .links {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: start;
}
.links-wrapper .links .link {
  width: 30%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  box-sizing: border-box;
  transition: 0.3s ease;
}
.links-wrapper .links .link .name {
  justify-content: space-between;
  display: flex;
}
.links-wrapper .links .link .name .delete {
  cursor: pointer;
  align-items: center;
}
.links-wrapper .links .link .name .delete:hover {
  color: #C8716B;
}
.links-wrapper .links .link .name .delete:hover svg path, .links-wrapper .links .link .name .delete:hover svg defs {
  fill: #C8716B;
}
.links-wrapper .links span.name {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: -5px;
}
.links-wrapper .links .leftW, .links-wrapper .links .rightW {
  width: 100%;
}
.links-wrapper .links .bottom {
  width: 100%;
}
.links-wrapper .links .bottom .heading {
  margin-top: 20px;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
}
.links-wrapper .links .bottom .description {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
}

.back {
  cursor: pointer;
  background-color: transparent;
  border: none;
  display: inline-block;
}
.back svg {
  width: 18px;
  height: 18px;
  transition: 0.3s ease;
  position: relative;
  top: 3px;
}
.back svg:hover {
  transform: translateX(-2px);
}

@media screen and (max-width: 1080px) {
  .main .row .content {
    width: 72%;
  }
  .main .row .sidebar {
    padding: 10px;
  }
  .sidebar-links .sidebar-link a {
    padding: 5px;
  }
}
.mobileHeader {
  display: none;
}

@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .header {
    display: none;
  }
  .sidebar-links {
    box-sizing: border-box;
    background-color: #fff;
    width: 100%;
  }
  .highlight-project {
    background-color: #fff;
    width: 100%;
    margin-top: 10px;
  }
  .rightMenuWrapper {
    position: absolute;
    border-radius: 20px;
    z-index: 20;
    padding: 20px;
    width: 86%;
    left: 2%;
    margin-top: 5px;
    background-color: #fff;
  }
  .rightMenuWrapper .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    text-align: center;
  }
  .rightMenuWrapper .links .link {
    order: 2;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0;
  }
  .rightMenuWrapper .links .loggined {
    margin-bottom: 20px;
    order: 1;
    text-align: right;
    margin-left: 0;
  }
  .leftMenuWrapper {
    margin-top: -5px;
    width: 91%;
    position: absolute;
    z-index: 20;
    border-radius: 20px;
    padding: 10px;
  }
  .mobileHeader {
    display: block;
    width: 96%;
    margin-left: 2%;
  }
  .mobileHeader .row {
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0;
    background-color: #fff;
  }
  .mobileHeader .logo {
    justify-self: center;
  }
  .mobileHeader .dotMenu .dot-row {
    display: flex;
    margin-bottom: 8px;
    margin-top: 8px;
    position: relative;
    transition: 0.3s ease;
    position: relative;
  }
  .mobileHeader .dotMenu .dot-row span {
    width: 3px;
    height: 3px;
    background-color: black;
    display: block;
    margin-right: 5px;
    margin-left: 5px;
    transition: 0.3s ease;
  }
  .mobileHeader .dotMenu.active .dot-row:nth-child(1), .mobileHeader .dotMenu.active .dot-row:nth-child(3) {
    opacity: 1;
    margin-left: 3px;
  }
  .mobileHeader .dotMenu.active .dot-row:nth-child(1) span, .mobileHeader .dotMenu.active .dot-row:nth-child(3) span {
    width: 14px;
    margin-right: -2px;
    margin-left: -2px;
  }
  .mobileHeader .dotMenu.active .dot-row:nth-child(1) {
    top: 12px;
    left: 2px;
    rotate: 50grad;
  }
  .mobileHeader .dotMenu.active .dot-row:nth-child(3) {
    top: -10px;
    left: -2px;
    rotate: 150grad;
  }
  .mobileHeader .dotMenu.active .dot-row:nth-child(2) {
    opacity: 0;
  }
  .mobileHeader .rightMenu span {
    width: 30px;
    height: 3px;
    background: black;
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 30px;
    transition: 0.3s ease;
    position: relative;
  }
  .mobileHeader .rightMenu.active span:nth-child(1) {
    rotate: 50grad;
    top: 11px;
  }
  .mobileHeader .rightMenu.active span:nth-child(2) {
    opacity: 0;
  }
  .mobileHeader .rightMenu.active span:nth-child(3) {
    top: -10px;
    rotate: 150grad;
  }
  .main .row .sidebar {
    transition: 0.3s ease;
    width: 100%;
    position: relative;
  }
  .main .row .content {
    width: 100%;
  }
  .form-wrapper .input-wrapper.double {
    flex-wrap: wrap;
  }
  .form-wrapper .input-wrapper.double .left, .form-wrapper .input-wrapper.double .right {
    width: 100%;
  }
  .form-wrapper .input-wrapper.triple {
    flex-wrap: wrap;
    align-items: end;
    justify-content: space-between;
  }
  .form-wrapper .input-wrapper.triple .left, .form-wrapper .input-wrapper.triple .middle {
    width: 47%;
  }
  .form-wrapper .input-wrapper.triple .right {
    width: 100%;
  }
  .tabs-links {
    width: 100%;
    display: flex;
  }
  .tabs-links button {
    word-break: keep-all;
    font-size: 14px;
    line-height: 0.8;
  }
  .tabs-links .left {
    overflow-x: scroll;
    overflow-y: hidden;
    display: block;
    width: fit-content;
  }
  .tabs-links .left::-webkit-scrollbar {
    width: 0;
  }
  .form-wrapper input[type=checkbox] {
    top: 3px;
    position: relative;
  }
  .form-wrapper input[type=text] {
    font-size: 12px;
  }
  .form-wrapper textarea {
    font-size: 12px;
    height: 200px;
  }
  .form-wrapper .input-wrapper label {
    font-size: 12px;
  }
  .form-wrapper .input-wrapper .help {
    font-size: 12px;
  }
  .form-wrapper .input-wrapper .help .heading {
    font-size: 14px;
  }
  .form-wrapper .input-wrapper .category {
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

/*# sourceMappingURL=main.css.map */
