@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "colors";

body {
  transition: color, background-color .15s ease;
}
h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0;
}
h1 {
  font-family: Montserrat;
  font-size: 35px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
p {
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
body {
  margin: 0;
  padding: 0;

  font-family: 'Montserrat', sans-serif;
}
.row {
  display: flex;
  flex-wrap: wrap;
  flex-basis: border-box;
  max-width: 1440px;
  width: 94%;

  margin: 0 auto;
}
.main {
  .row {
    gap: 30px;
    align-items: start;
    margin-top: 30px;
    justify-content: space-between;


    .sidebar section {
      border-radius: 15px;
      padding: 10px;
      box-shadow: 0 0 8px #a3d7fc;

    }
    .sidebar {
      flex: 1 1;
      flex-wrap: wrap;

      section {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 30px;
        padding: 20px;

      }
    }
    .content {
      flex: 3 1;

      p {
        color: #000;

        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

    }
  }
}
.header {
  .d-flex {
    display: flex;
    flex-basis: border-box;
    width: 96%;
    margin-left: 2%;
    padding-top: 10px;
    padding-bottom: 10px;

  }


  .nav {
    width: 40%;
    flex-direction: row;
    align-items: center;

    .links {
      width: 100%;
      display: flex;
      flex-basis: border-box;
      flex-wrap: wrap;
      justify-content: space-between;

      a {
        &.router-link-active {
          border-bottom: 1px solid;
        }
      }
    }
  }
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.box {
  border-radius: 15px;
}
.box-shadow {
  box-shadow: 0 0 8px #a3d7fc;
}
//links and buttons
a {
  text-decoration: none;
}
.link {
  font-family: 'Montserrat', 'Arial', Serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 2rem;
  text-decoration: none;
}

.btn {
  border: 1px solid transparent;
  box-shadow: 0 0 8px #a3d7fc;
  border-radius: 10px;
  flex-shrink: 0;
  box-sizing: border-box;
  padding: 10px 30px;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
  transition: .15s ease;
  &:hover {
    transform: translateY(-5px);
  }

  &.btn-big-pages {
    justify-content: start;
    margin-top: 20px;
    border-radius: 15px;
    padding: 15px 20px;
    font-size: 24px;
    width: fit-content;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

.theme-switcher {
  width: 30%;
  justify-content: center;
  display: flex;
}
.logo {
  width: 110px;
  height: 65px;
}
.sidebar-links {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  .separator {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    height: 1px;
    background-color: #494A4E;
  }

  .sidebar-link {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0;



    a {
      min-height: 30px;
      padding: 10px 20px;
      border-radius: 10px;
      display: flex;
      gap: 10px;
      width: 100%;
      align-items: center;

    }

  }
}
.tabs-links {
  margin-top: 30px;
  color: #000;
  border-bottom: 1px solid #000;
  width: fit-content;

  button {
    &.recommended {
      margin-right: 30px;
    }
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    background-color: transparent;
    border: none;
    border-bottom: 5px solid transparent;
    cursor: default;
    transition: .3s ease;

    &:hover {
      opacity: .8;
    }
    &.active {
      border-bottom-color: #6C7AFF;
    }

  }
}
.slide-fade-enter-active {
  transition: all 0.2s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}
.footer {

}