@import url("https://fonts.cdnfonts.com/css/gilroy-bold");
body {
  transition: color, background-color 0.15s ease;
  background-color: #f4f6f9;
  padding-top: 30px;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h3 {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

p {
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-basis: border-box;
  max-width: 1440px;
  width: 94%;
  margin: 0 auto;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.main .row {
  gap: 30px;
  align-items: start;
  margin-top: 30px;
  justify-content: space-between;
}
.main .row .sidebar section {
  border-radius: 15px;
  padding: 10px;
  border: 1px solid #eaeaea;
}
.main .row .sidebar {
  flex: 1 4;
  flex-wrap: wrap;
}
.main .row .sidebar section {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 30px;
  padding: 20px;
  background-color: #ffffff;
}
.main .row .content {
  flex: 3 4;
}
.main .row .content p {
  color: #000;
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.projects-wrapper {
  margin-top: 0px;
}
.projects-wrapper .advanced {
  display: flex;
}

.header {
  margin-top: 30px;
}
.header .d-flex {
  display: flex;
  flex-basis: border-box;
  width: 96%;
  margin-left: 2%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.header .nav {
  width: 60%;
  flex-direction: row;
  align-items: center;
}
.header .nav .links {
  width: 100%;
  display: flex;
  flex-basis: border-box;
  flex-wrap: wrap;
  justify-content: end;
  margin-left: auto;
  align-items: center;
}
.header .nav .links a.router-link-active {
  border-bottom: 1px solid;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.box {
  border-radius: 15px;
}

a {
  text-decoration: none;
}

.link {
  font-family: "Montserrat", "Arial", Serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 1.5rem;
  text-decoration: none;
}

.btn {
  border: 1px solid transparent;
  border-radius: 5px;
  flex-shrink: 0;
  box-sizing: border-box;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
  transition: 0.15s ease;
  font-size: 12px;
  cursor: pointer;
}
.btn:hover {
  transform: translateY(-2px);
}
.btn.btn-outlined {
  border-radius: 5px;
  border: 1px solid var(--new-dark, rgb(0, 115, 236));
  box-shadow: 0 0 3px rgba(13, 110, 253, 0.25);
  background-color: transparent;
}
.btn.btn-submit {
  border-radius: 5px;
  background: var(--new-dark, rgb(0, 115, 236));
  padding: 10px 15px;
  color: #FFF;
  text-align: center;
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: auto;
}
.btn.btn-filled {
  color: #ffffff;
  background-color: rgb(0, 115, 236);
  margin-top: 30px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 1px solid #eaeaea;
}
.btn.btn-secondary {
  color: #000;
  background-color: #f5f5f5;
  margin-top: 30px;
  cursor: pointer;
  text-align: center;
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid #eaeaea;
}
.btn.btn-secondary svg {
  width: 20px;
  height: 20px;
}
.btn.btn-secondary svg path {
  width: 20px;
  height: 20px;
  fill: black;
}
.btn.btn-empty {
  color: #2B2B2B;
  background-color: transparent;
  margin-top: 30px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.btn.btn-big-pages {
  justify-content: start;
  margin-top: 20px;
  border-radius: 15px;
  padding: 15px 20px;
  font-size: 16px;
  width: fit-content;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.theme-switcher {
  width: 30%;
  justify-content: center;
  display: flex;
}

.logo {
  width: 110px;
  height: 65px;
}

.sidebar-links {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.sidebar-links .separator {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  height: 1px;
  background-color: #494A4E;
}
.sidebar-links .sidebar-link {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0;
  border-radius: 5px;
  transition: 0.3s ease;
}
.sidebar-links .sidebar-link:hover {
  background-color: #edf1fc;
}
.sidebar-links .sidebar-link a {
  min-height: 30px;
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  width: 100%;
  align-items: center;
}
.sidebar-links .sidebar-link a.router-link-active {
  background-color: #f7f9ff;
}
.sidebar-links .sidebar-link a svg path {
  fill: #000000;
}

.tabs-links {
  color: #000;
  width: fit-content;
}
.tabs-links button {
  margin-right: 10px;
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  background-color: transparent;
  border: none;
  border-bottom: 5px solid transparent;
  transition: 0.3s ease;
  cursor: pointer;
}
.tabs-links button:hover {
  opacity: 0.8;
}
.tabs-links button.active {
  border-bottom-color: rgb(0, 115, 236);
}

.slide-fade-enter-active {
  transition: all 0.2s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

form.add-project {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
}
form.add-project .left, form.add-project .right {
  width: 49%;
}
form.add-project textarea {
  width: 100%;
  resize: none;
}
form.add-project .bottom {
  width: 100%;
}
form.add-project .bottom {
  margin-top: 30px;
}
form.add-project .bottom .top-head {
  display: flex;
  justify-content: start;
  gap: 30px;
}
form.add-project .bottom .top-head .add {
  background-color: rgb(0, 115, 236);
  color: #fff;
  transition: 0.3s ease;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
}
form.add-project .bottom .top-head .add:hover {
  cursor: pointer;
  opacity: 0.8;
}
form.add-project .bottom .added-project-links {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: start;
}
form.add-project .bottom label {
  display: flex;
}
form.add-project .bottom label input {
  width: 100%;
}
form.add-project input[type=text] {
  font-size: 16px;
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  width: 70%;
  font-family: "Montserrat", "Arial", Serif;
}
form.add-project input[type=file] {
  margin-top: 0px;
  height: auto;
  padding: 10px 20px;
  border: 1px solid #eaeaea;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-size: 14px;
  color: #000;
  text-align: center;
  background-color: #fff;
  line-height: 22px;
  border-radius: 5px;
  transition: background-color 0.2s;
  width: 70%;
}
form.add-project textarea {
  background-color: #fff;
  font-size: 16px;
  border-radius: 5px;
  padding: 10px 20px;
  border: 1px solid #eaeaea;
  font-family: "Montserrat", "Arial", Serif;
}
form.add-project label {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: flex-start;
}
form.add-project label span {
  width: 100%;
}
form.add-project .project-link {
  width: 30%;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}
form.add-project .project-link input {
  width: 100%;
}
form.add-project .project-link.always {
  align-self: center;
}
form.add-project .project-link.always input {
  width: 100% !important;
  border-radius: 5px;
}
form.add-project .project-link .delete, form.add-project .project-link .important {
  font-size: 12px;
  padding-left: 10px;
}
form.add-project .project-link .delete:hover {
  outline: none;
  color: #d05555;
}
form.add-project .project-link input {
  font-size: 16px;
  margin-top: 0;
  padding: 10px 20px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  width: 100%;
  font-family: "Montserrat", "Arial", Serif;
  outline: none;
}
form.add-project .project-link input:hover, form.add-project .project-link input:focus {
  outline: none;
}
form.add-project .helper {
  margin-top: 5px;
  font-size: 10px;
}

.form-wrapper {
  margin-top: 20px;
}
.form-wrapper .advanced {
  display: flex;
  gap: 30px;
  margin-top: 10px;
}
.form-wrapper .advanced input {
  width: 100%;
  box-sizing: border-box;
}
.form-wrapper .input-wrapper {
  margin-bottom: 10px;
}
.form-wrapper .fake-input {
  position: relative;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--new-dark, rgb(0, 115, 236));
  background: var(--neutral, #FFF);
}
.form-wrapper .fake-input .name {
  width: 100px;
  display: inline-block;
  color: #000;
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
}
.form-wrapper .fake-input input[type=file] {
  color: rgb(0, 115, 236);
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.form-wrapper .fake-input input[type=file]::file-selector-button {
  border-radius: 5px;
  border: 1px solid var(--new-dark, rgb(0, 115, 236));
  background: #FFF;
  padding: 5px 10px;
  color: rgb(0, 115, 236);
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 25px;
}
.form-wrapper .fake-input input[type=file]::before {
  content: url("./../../assets/images/upload.svg");
  width: 15px;
  height: 15px;
  position: relative;
  right: -20px;
  z-index: 2;
  top: 2px;
}
.form-wrapper input[type=text] {
  border-radius: 5px;
  border: 1px solid var(--new-dark, rgb(0, 115, 236));
  background: var(--neutral, #FFF);
  color: #000;
  padding: 10px 15px;
  width: 100%;
  box-sizing: border-box;
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.form-wrapper input[type=text].bad {
  background-color: #fff3f3;
  border: 1px solid #984a5a;
}
.form-wrapper input[type=text].bad.ok {
  background-color: #ffffff;
}
.form-wrapper input[type=text]::placeholder {
  opacity: 0.3;
}
.form-wrapper input[type=number] {
  border-radius: 5px;
  border: 1px solid var(--new-dark, rgb(0, 115, 236));
  background: var(--neutral, #FFF);
  color: #000;
  padding: 10px 15px;
  width: 100%;
  box-sizing: border-box;
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.form-wrapper textarea {
  border-radius: 5px;
  border: 1px solid var(--new-dark, rgb(0, 115, 236));
  background: var(--neutral, #FFF);
  padding: 10px 15px;
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 14px;
  font-style: normal;
  height: 280px;
  font-weight: 400;
  line-height: normal;
  resize: none;
  box-sizing: border-box;
  width: 100%;
}
.form-wrapper textarea::placeholder {
  opacity: 0.3;
}
.form-wrapper select {
  border-radius: 5px;
  border: 1px solid var(--new-dark, rgb(0, 115, 236));
  background: var(--neutral, #FFF);
  color: #000;
  padding: 10px 15px;
  width: 100%;
  box-sizing: border-box;
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.form-wrapper select::placeholder {
  opacity: 0.3;
}

.links-wrapper {
  justify-content: start;
}
.links-wrapper .links {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: start;
}
.links-wrapper .links .link {
  width: 30%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  box-sizing: border-box;
  transition: 0.3s ease;
}
.links-wrapper .links .link .name {
  justify-content: space-between;
  display: flex;
}
.links-wrapper .links .link .name .delete {
  cursor: pointer;
  align-items: center;
}
.links-wrapper .links .link .name .delete:hover {
  color: #C8716B;
}
.links-wrapper .links .link .name .delete:hover svg path, .links-wrapper .links .link .name .delete:hover svg defs {
  fill: #C8716B;
}
.links-wrapper .links span.name {
  color: #000;
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: -5px;
}
.links-wrapper .links .leftW, .links-wrapper .links .rightW {
  width: 100%;
}
.links-wrapper .links .bottom {
  width: 100%;
}
.links-wrapper .links .bottom .heading {
  margin-top: 20px;
  color: #000;
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
}
.links-wrapper .links .bottom .description {
  color: #000;
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
}
.links-wrapper .help {
  color: #000;
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  margin-top: 7px;
  opacity: 0.5;
  display: block;
}

.back {
  cursor: pointer;
  background-color: transparent;
  border: none;
  display: inline-block;
}
.back svg {
  width: 18px;
  height: 18px;
  transition: 0.3s ease;
  position: relative;
  top: 3px;
}
.back svg:hover {
  transform: translateX(-2px);
}

/*# sourceMappingURL=main.css.map */
