@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap');

body {
  transition: color, background-color .15s ease;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #F8F7FC;

  font-family: "PT Sans Caption", sans-serif;
}


* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.link-btn {
  font-family: "PT Sans Caption", sans-serif;
  color: black;
  background-color: #FFC700;
  padding: 10px 30px;
  border-radius: 10px;
  transition: .3s ease;

  &:hover {
    border-radius: 10px;
    background: var(--yellow, #FFC700);
    transform: translateX(-4px);
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
  }
}
$lightgray: #D8D8D8;
$gray: #A8A8A8;

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-family: "PT Sans Caption", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}h3 {
   font-family: "PT Sans Caption", sans-serif;
   font-size: 18px;
   font-style: normal;
   font-weight: 600;
   line-height: normal;

 }
p {
  font-family: "PT Sans Caption", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.global-wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  box-sizing: border-box;


  .wrapper {
    max-width: 1100px;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    box-sizing: border-box;
  }

}
.back {
  background-color: transparent;
  border: none;
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  gap: 5px;
  transition: .3s ease;
  cursor: pointer;

  color: var(--gray, #A8A8A8);
  font-family: "PT Sans Caption";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  svg {
    width: 15px;
    height: 15px;
    transition: .3s ease;
    path {
      fill: #A8A8A8;
    }
  }

  &:hover {
    color: #000;
    svg {
      margin-right: 5px;
      path {
        fill: #000;
      }
    }
  }
}
.main {

}
.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.d-flex {
  display: flex;
  width: 100%;

  &.justify-between {
    justify-content: space-between;
  }
}

input[type='text'], input[type='search'], input[type='password'], input[type='number'] {
  color: #000;
  text-align: left;
  border-radius: 10px;
  border: 1px solid var(--gray-2, #D8D8D8);
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;

  font-family: "PT Sans Caption";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  &::-webkit-search-cancel-button {
    display: none;
  }

  &::placeholder {
    color: #2B2B2B;
    opacity: .5;
  }

  &:hover, &:focus {
    outline: none;
  }
}
input {
  transition: .3s ease;
}
input[type='file'] {
  color: #000;
  text-align: left;
  border-radius: 10px;
  border: 1px solid var(--gray-2, #D8D8D8);
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;

  font-family: "PT Sans Caption";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  &::-webkit-search-cancel-button {
    display: none;
  }

  &::placeholder {
    color: #2B2B2B;
    opacity: .5;
  }

  &:hover, &:focus {
    outline: none;
  }
}
select {
  border-radius: 10px;
  border: 1px solid var(--gray-2, #D8D8D8);
  padding: 9px;

  color: #000;
  font-family: "PT Sans Caption";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
input.error, textarea.error {

  border-color: #984a5a;
}

input[type='checkbox'] {

  color: #000;
  text-align: left;
  border-radius: 10px;
  border: 1px solid var(--gray-2, #D8D8D8);
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;

  font-family: "PT Sans Caption";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  &::-webkit-search-cancel-button {
    display: none;
  }

  &::placeholder {
    color: #2B2B2B;
    opacity: .5;
  }

  &:hover, &:focus {
    outline: none;
  }
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;

}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 200px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 200px;
  background: #000000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
textarea {

  color: #000;
  text-align: left;
  border-radius: 10px;
  border: 1px solid var(--gray-2, #D8D8D8);
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  resize: none;
  height: 235px;
  overflow-y: visible;
  overflow-x: hidden;
  font-family: "PT Sans Caption";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  &::-webkit-search-cancel-button {
    display: none;
  }

  &::placeholder {
    color: #2B2B2B;
    opacity: .5;
  }

  &:hover, &:focus {
    outline: none;
  }
}
button {
  cursor: pointer;
  border: none;
  transition: .15s ease;

}


//animations

.list-enter-from {
  opacity: 0;
  translate: 0 50px;
}
.list-enter-to {
  opacity: 1;
  translate: 0 0;
}
.list-enter-active,
.list-leave-active {
  transition: all 0.3s;
}
.list-leave-from { opacity: 1; }
.list-leave-to { opacity: 0; }




/* Focus */
.input-file input[type=file]:focus + .input-file-btn {
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

/* Hover/active */
.input-file:hover .input-file-btn {
  background-color: #FFC700;
}
.input-file:active .input-file-btn {
  background-color: #a88a20;
}

/* Disabled */
.input-file input[type=file]:disabled + .input-file-btn {
  background-color: #eee;
}
.fake-input {
  input {
    display: none;
  }

}




.form-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: 2%;

  .input-wrapper {
    position:  relative;


    &.mb {
      margin-bottom: 30px;
    }

    .loaded {
      position: absolute;
      display: flex;
      align-items: center;
      color: #85c86b;
      height: 0;
      margin: 0;
      width: 100%;
      padding: 0;
      bottom: -35px;


      span {
        position: absolute;
        bottom: 10px;
        left: 25px;
        white-space: nowrap;
        width:300px;

        overflow:hidden;

        text-overflow: ellipsis;
      }
      svg {
        bottom: 10px;
        position: absolute;
        width: 18px;
        height: 18px;

        path {
          fill: #85c86b;
        }
      }
    }
  }
}
.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
@media screen and (max-width: 500px) {
  .wrapper {
    width: 100%;
    box-sizing: border-box;
  }
  h3 {
    font-size: 18px!important;
  }
  .back {
    padding-left: 10px;
  }
  select {
    font-size: 14px;
  }
  .link-btn {
    font-size: 12px;
  }
}